@use "../abstracts" as abs;
/*-------------------------------*\
    #features
\*-------------------------------*/
.features {
  background: var(--Light-Grayish-Blue);

  &-wrapper {
    text-align: center;
    padding-top: abs.rem(67px);
    padding-bottom: abs.rem(67px);
  }
  &__intro {
    margin-bottom: abs.rem(58px);
  }
  &__heading {
    @include abs.interpolate(
      font-size,
      43rem,
      90rem,
      abs.rem(32px),
      abs.rem(39px)
    );
    font-weight: 300;
    margin-bottom: abs.rem(18px);
  }
  &__description {
    line-height: abs.rem(24px);
    color: var(--Grayish-Blue);
    @include abs.interpolate(
      font-size,
      43rem,
      90rem,
      abs.rem(16px),
      abs.rem(17px)
    );
  }

  &__container {
    display: grid;
    grid: repeat(4, 1fr) / 1fr;
    gap: abs.rem(29px) 0;
    align-items: center;
    justify-items: center;
  }

  &__feature {
    min-height: abs.rem(217px);
    @include abs.flexify($js-con: space-between, $flex-d: column);
    &-img {
      max-width: 5rem;
      margin: 0 auto abs.rem(7px) auto;
    }

    &-heading {
      @include abs.interpolate(
        font-size,
        43rem,
        90rem,
        abs.rem(19px),
        abs.rem(23px)
      );
      font-weight: 500;
    }
    &-text {
      @include abs.interpolate(
        font-size,
        43rem,
        90rem,
        abs.rem(14px),
        abs.rem(16px)
      );
      font-weight: 500;
      line-height: abs.rem(27px);
      color: var(--Grayish-Blue);
    }
  }

  /*tablet view----------------------------------------------------*/
  @include abs.respond-to("tablet") {
    &__container {
      grid: repeat(2, 1fr) / repeat(2, 1fr);
      gap: abs.rem(30px);
    }

    &__feature {
      max-width: 22rem;
    }
  }

  /*laptop view----------------------------------------------------*/
  @include abs.respond-to("laptop") {
    &-wrapper {
      text-align: left;
      padding-top: abs.rem(132px);
      padding-bottom: abs.rem(100px);
    }

    &__heading {
      margin-bottom: abs.rem(27px);
    }

    &__description {
      line-height: abs.rem(27px);
      max-width: 39rem;
      word-spacing: 1px;
    }

    &__container {
      grid: 1fr / repeat(4, 1fr);
      gap: abs.rem(30px);
    }

    &__feature {
      display: block;
      max-height: 18rem;

      &-img {
        margin: abs.rem(16px) 0 abs.rem(43px) 0;
      }

      &-heading {
        margin-bottom: abs.rem(26px);
      }
    }
  }
  /*desktop view----------------------------------------------------*/
}
