@use "../abstracts" as abs;

/*-------------------------------*\
    #header 
\*-------------------------------*/

@keyframes rotate {
  from {
    transform: translateX(-200px);
  }
}
.header {
  &-wrapper {
    @include abs.flexify();
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
    position: relative;
  }

  /*nav --------------------------------------------*/
  &__nav {
    position: absolute;
    width: calc(100% - 3rem);
    top: abs.rem(88px);
    transform: scale(0);
    visibility: hidden;

    &--active {
      display: block;
      transform: scale(1);
      visibility: visible;
      animation: backInDown;
      animation-duration: 2s;
      box-shadow: 0px 0px 14px;
    }

    &-wrapper {
      @include abs.flexify($js-con: space-around, $flex-d: column);
      min-height: abs.rem(265px);
      padding: 1.3rem 0;
      background: var(--White);
    }

    &-link {
      display: inline-block;
      position: relative;
      color: var(--Dark-Blue);

      // underline for the links,
      &::after,
      &::before {
        visibility: hidden;
        transform: scale(0);
      }

      &::after {
        @include abs.underline($direction: right);
      }
      &::before {
        @include abs.underline($distance: 1.5rem, $direction: left);
      }

      &:hover {
        &::after,
        &::before {
          visibility: visible;
          transform: scale(1);
        }
      }

      &:hover {
        color: var(--Lime-Green);
      }
    }
  }
  /*cta -----------------------------------------------*/
  &__cta {
    display: none;
  }

  /* tablet view--------------------------------------------------*/
  @include abs.respond-to("tablet") {
    background-color: var(--White);

    &-wrapper {
      padding: abs.rem(13px) 1rem;
    }
    &__hamburger-menu {
      display: none;
    }

    /*nav ------------------------------------------------*/
    &__nav {
      position: initial;
      width: initial;
      transform: scale(1);
      visibility: visible;

      &-wrapper {
        @include abs.flexify();
        min-height: initial;
        min-width: abs.rem(358px);
        padding: 1rem 0;
      }

      &-link {
        margin-left: abs.rem(23px);
        color: var(--Grayish-Blue);
        @include abs.interpolate(
          font-size,
          43rem,
          82rem,
          abs.rem(12px),
          abs.rem(14px)
        );

        // removing the top underline
        &::before {
          display: none;
        }

        &::after {
          @include abs.underline(
            $direction: center,
            $distance: abs.rem(-30px),
            $height: 3px
          );
        }

        // modyfing the hover state
        &:hover {
          color: var(--Dark-Blue);
        }
      }
    }

    &__cta {
      display: block;
    }
  }

  /* laptop view-----------------------*/
}
