@use "../abstracts" as abs;
/*-------------------------------*\
    #hero
\*-------------------------------*/

.hero {
  background: var(--Very-Light-Gray);

  &-wrapper {
    display: grid;
    grid-template:
      [row1-start] "img" 1fr [row1-end]
      [row2-start] "content" auto [row2-end]
      / 1fr;
    position: relative;
    padding-bottom: abs.rem(87px);
  }

  &__content {
    grid-area: content;
    text-align: center;
    animation: slideInLeft;
    animation-duration: 2s;
  }

  &__heading {
    margin-top: -6rem;
    @include abs.interpolate(
      font-size,
      43rem,
      90rem,
      abs.rem(38px),
      abs.rem(54px)
    );

    font-weight: 300;
    margin-bottom: abs.rem(19px);
  }

  &__text {
    font-size: abs.rem(14px);
    line-height: 1.8;
    word-spacing: abs.rem(1px);
    margin-bottom: abs.rem(33px);
    color: var(--Grayish-Blue);
  }

  &__img {
    position: relative;
    z-index: 4;
    top: abs.rem(-120px);
    left: abs.rem(-9px);
    min-height: 26rem;
    min-width: 104%;
    z-index: 4;

    &-wrapper {
      animation: slideInRight;
      animation-duration: 2s;
      grid-area: img;
      &::after {
        content: "";
        position: absolute;
        top: abs.rem(-187px);
        left: 0;
        background: url("../assets/images/bg-intro-mobile.svg") center / contain
          no-repeat;
        width: 100%;
        height: 100%;
      }
    }
  }

  /* Tablet view---------------------------------*/
  @include abs.respond-to("tablet") {
    &-wrapper {
      grid-template: [row1-start] "content img" [row1-end] / 50% 1fr;
      align-items: center;
      padding-bottom: 0;
    }

    &__content {
      text-align: left;
      max-width: 23rem;
    }

    &__heading {
      margin-top: 0;
    }

    &__img {
      left: 9rem;
      top: -2.5rem;
      &-wrapper {
        &::after {
          background-image: url("../assets/images/bg-intro-desktop.svg");
          top: -9rem;
          left: 25%;
          width: 150%;
          height: 129%;
        }
      }
    }
  }

  /* laptop view---------------------------------*/
  @include abs.respond-to("laptop") {
    &-wrapper {
      min-height: abs.rem(627px);
    }

    &__content {
      @include abs.flexify(
        $al-con: flex-start,
        $js-con: space-between,
        $flex-d: column
      );
      max-width: initial;
      min-height: 21rem;
    }

    &__heading {
      margin-top: abs.rem(24px);
    }

    &__text {
      font-size: abs.rem(17px);
      max-width: 27rem;
    }

    &__img {
      position: absolute;
      left: abs.rem(87px);
      top: abs.rem(-118px);
      min-width: 137%;
      overflow-y: visible;

      &-wrapper {
        position: relative;
        height: 100%;

        &::after {
          top: -240px;
          left: -7%;
          width: 224%;
          height: 155%;
        }
      }
    }
  }
  /* deskstop view---------------------------------*/
  @include abs.respond-to("desktop") {
    &__img {
      &-wrapper {
        &::after {
          left: -20%;
        }
      }
    }
  }
}
